*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhaina 2', cursive;
    line-height: 1.5;
}
.tittle-text {
    font-size: 40px;
    text-align: center;
}
/*==HEADER==*/
.header {
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url(./img/food.jpg);
    margin-top:auto;
}
.hero{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 50px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding:13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;
    font-size: 12px;
}
.hero-button:hover{
    background: #fff;
    color: orange;
    border: none;
}
.pulsate{
    animation:pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.3;
    color: #000;
}
@-webkit-keyframes pulsate{
    0%{
        opacity:0.3
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity:0.3;
    }

}
/*--------------------------------end of HEADER----------------------------*/
/*==========ABOUT====*/
#about{
    padding:40px;
}
.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
     font-size: 60px;
     color: orange;
     margin-right: 25px;
}
.about .about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}
.about-info{
    margin-top:10px;
    line-height:1.5;
    color:blueviolet;
}
.about-icon:hover .fas,
.about-subtitle:hover{
        transition: transform 2s ease,color 2s ease;
        transform: translate( 10px, -10px);
        color: orange;
        cursor: pointer;
}
@media screen and (min-width: 480px) {
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex:0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px) {
    .about{
        flex: 0 0 calc(30.3% - 16px);
    }
}
.menu-image{
    min-height : 80vh;
    background:url(./img/food.jpg)
}
.menu-text{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-color:orange;
    columns: #0000;
    padding:40px 0;

}
.menu-text-center{
    width: 90px;
    margin: 0 auto;

}
.menu-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.menu-text p{
    margin: 20px 0;
    line-height: 2;

}
.menu-text a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding:13px 200px;
    font-weight: bold;
    background:rgb(18,10,10);
    color:orange;
    cursor: pointer;
    border: 2px solid #000;
    margin:-top:10px ;
}
.menu-text a:hover{
    color:orange;
    background:#fff;
    border: none;
}
@media screen and (min-width: 776px){
    .menu{
        display: flex;

    }
    .menu-text{
        flex: 0 0 30%;

    }
    .menu-image{
        flex: 0 0 70%;

    }
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%),
    }
}
.menu{
    background:orange;
}
#social-icon{
    height: 150px;
    background:#fff;
    text-align: center;
    padding:50px 0 50px 0;
}
#social-icon a{
    display: inline-block;
    padding:5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 2s ease,color 2s easse;
}
#social-icon a:hover{
    transform: translateY(-20px);
}
.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}
@media screen and (max-width:992px) and (min-width:720px){
    html,
    body,
    header,{
        height: 180px;
    }
}
.menu-overlay{
    height: inherit;
    width: inherit;
}
#order-pizza{
    color: white;
    padding: 20px 50px 20px 50px;
}
.order-overlay{
    height: inherit;
    padding: 20px;
    border-radius: 20px;
}
.checkout{
    border-radius: 20px;
    margin-top:20px;
}
.orders{
    background-color: #dbc98f;
}
.order-summary{
    color: white;
}
.order-summary h2{
    font-style: italic bold;
    font-size: 20px;
}
.order-summary h1, .summary{
    color: white;
    margin-top: 30px;
}
.contacts{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    color: black;
}
.contact-overlay{
    height: inherit;
}
.contacts h1{
    color: black;
}
input[type="text"]{
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
    margin-bottom: 20px;
}
input[type="email"]{
    background: transparent;
    border: 1px solid #a08f8f;
    padding: .8em .8em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
    margin-bottom: 20px;
}
.contact {
    padding-top: 20px;
}
#menu{
    padding-top: 20px;
}
.menu-btn{
    border-radius: 20px;
    margin-top: 20px;
    color: #020402;
}
figure img{
    height: 260px;
    width: 260px;
}
.menu{
    background-color: #f8f8f8;
    background-image: url(".");
    padding: 0;
    margin-top: -20px;
    transition: transform 3s ease,color 3s ease;
    transform: translate( 20px, -10px);
    color: rgb(17, 17, 16);
}
h1{
    font-size:60;
    font: normal}
h1 span{
    color: rgb(156, 16, 16);
    font-size: 60;
}
    