*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhaina 2', cursive;
    line-height: 1.5;
}
/*==HEADER==*/
.header {
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url(./img/food.jpg);
    margin-top:auto;
}
.hero{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 50px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding:13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;
    font-size: 12px;
}
.hero-button:hover{
    background: #fff;
    color: orange;
    border: none;
}
.pulsate{
    animation:pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.3;
    color: #000;
}
@-webkit-keyframes pulsate{
    0%{
        opacity:0.3
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity:0.3;
    }

}